/* scrollbar.css */

/* Estiliza a barra de rolagem na vertical */
/* Você pode ajustar as cores e outros estilos conforme desejado */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  /* Adicione a propriedade height para estilizar a barra de rolagem vertical */
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4fd1c5;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #38b2ac;
}

/* Aplique as regras de estilização somente à barra de rolagem vertical */
.custom-scrollbar::-webkit-scrollbar-thumb:vertical {
  background-color: #4fd1c5;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #38b2ac;
}
